body {
    font-family: 'Francois One', sans-serif;
     margin: 15px;
    color: whitesmoke;
    background-color: darkgreen;
    text-align: center;
    font-size: 1.5rem;
}
main{
    max-width: 1000px;
    margin:auto;
}

canvas{
    background-color: whitesmoke;
}
img{
    max-width: 100%;
}
.footer{
    font-size: 0.85rem;
    margin: 10px;
}
.fonte{
    display: flex;
    justify-content: center;


}
span{
    margin: 3px;
}